<div class="container h-100">
  <div class="row text-center my-3">
    <div class="col">
      <a routerLink="../home">home</a>
    </div>
    <div class="col">
      <a routerLink="../admin">add article</a>
    </div>
  </div>
  <div class="row">
    <form [formGroup]="form" (ngSubmit)="submit()" class="d-flex flex-column">
      <div formControlName="html" [ngxSummernote]="{}"></div>
      <button class="btn btn-outline-info my-2" type="submit">Ajouter article</button>
    </form>
  </div>
</div>
